html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font: normal 12px/1.6667 'Helvetica Neue', Arial, sans-serif;
  min-width: 768px;
  color: #333;
}

/* MAIN ELEMENTS */

.container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.content {
  position: relative;
  height: 100%;
  background-color: rgba(215, 215, 215, 1);
}

.sidebar {
  position: fixed;
  float: left;
  height: auto;
  width: 360px;
  z-index: 1000;
  background: #f6f6f6;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  overflow-y: auto;
}

nav {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
}

/* ALERTS */

.alert-container {
  position: relative;
  float: right;
  min-width: 30%;
  right: 0;
  bottom: 7%;
  height: 100%;
}

.alert {
  float: right;
  border-radius: 2px;
  padding: 0 25px;
  font-size: 1.1rem;
  font-weight: 300;;
  clear: both;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  max-width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: rgb(50, 50, 50);
  color: white;
}

.alert.progressive {
  background-color: rgb(0, 175, 137);;
}

.alert.negative {
  background-color: rgb(209, 29, 19);
}

/* HELP CLASSES */

.rigth {
  float: right;
}

/* MAP BOXES */

.map-box {
  height: 100px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: white;
}

.map-box img {
  height: 100%;
}

.map-box div {
  float: right;
  width: calc(100% - 103px);
  padding-left: 3px;
}

.map-box div h4 {
  margin: 0;
  font-size: 110%;
}

.map-box div p {
  margin: 0;
}

.map-box div b {
  display: block;
  margin-top: 11px;
}

/* EXTENDED BOXES */

.extended-box-top {
  width: 10px;
  height: 10px;
  border: 1px solid rgb(204, 204, 204);
  margin: auto;
  margin-top: 3px;
  transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  background-color: white;
}

.extended-box {
  width: 100%;
  position: relative;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: white;
  margin-top: -6px;
  margin-bottom: 5px;
  z-index: 100;
}

/* USER MENU */

.user-menu {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  margin-right: 8px;
  margin-top: 10px;
}

.user-menu a {
  padding: 5px 15px;
  color: black;
}

.user-menu > a {
  padding: 0;
}

.user-button {
  line-height: 1.8;
  padding: 5px 10px 3px 6px;
  display: inline-block;
  text-decoration: none;
}

.user-menu img {
  border: 0;
  vertical-align: top;
  margin-top: 0px;
  margin: 4px 0 0 4px;
  border-radius: 2px;
}

.caret {
  border-top-color: #cccccc;
  margin-top: 9px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown {
  left: auto;
  right: -1px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  background-color: white;
  list-style: none;
  padding: 5px 0;
  font-size: 14px;
  margin: 0;
  margin-top: 1px;
  margin-right: 8px;
  display: none;
}

.dropdown li {
  padding-left: 5px;
}

.dropdown li a {
  color: black;
  text-decoration: none;
}

.dropdown li a:hover {
  cursor: pointer;
}

/* TABS */

.ui-tabs  {
  margin: 0px;
  padding: 0px;
  border-right: 1px solid rgb(204, 204, 204);
}

#tabs .ui-tabs-nav {
  border:  0px ;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 500;
}

#tabs .ui-tabs-nav a {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

#tabs .ui-tabs-nav li {
  margin: 0px;
  border-radius: 0px;
}

#tabs .ui-tabs-active  {
  background: #F6F6F6 !important;
  border-width: 0px 1px 0px 0px !important;
}

#tabs .ui-state-default {
  border-width: 0px 1px 1px 0px;
  border-color: rgba(206, 206, 206,1) !important;
  background: white;
}

#tabs .ui-state-hover li {
  border-color: green;
}

#sidebar .ui-widget-content {
  border: none;
  background: none;
}

#sidebar .ui-widget-header {
  background: white;
  border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: white;
}

#tabs {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

#tabs li {
  text-align: center;
  box-sizing: border-box;
  list-style: none;
  float: left;
}

#tabs a {
  display: block;
  color: rgb(0, 0, 0);
}

#tabs li.ui-state-default a {
  width: 90px;
}

#tabs li.ui-state-default {
  width: 90px;
}

#tabs li > a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#tabs li > a:visited,
#tabs li > a:active,
#tabs li > a:hover {
  color: black;
}

.side {
  margin-top: 0px;
  padding: 1em 1.4em;
  height: 100vh;
}

.side h2 {
  margin-top: 90px;
}

#tabs .side li {
  text-align: left;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid rgb(204, 204, 204);
}

/* TEMP */

.search-result-container:last-child {
  margin-bottom: 32px;
}

/* LAYER BOXES */

#layer_list .handle {
	user-select:none;
	float:right;
    left:20px;
	border: #ccc 1px solid;
	padding:2px;
	width:6px;
	height:76px;
	background:#ccc;
}

#layer_list > div {
  border: #ccc 1px solid;
  background: white;	
  margin-bottom:10px;
  padding:5px;
}

#layer_list .img_list_div{
	height:80px;
	overflow:hidden;
}

 #layer_list .mapinfo {
	width:140px;
	overflow:hidden;
	height:60px;
	font-size:12px;
}

#layer_list .delete {
	user-select:none;
	float:right;
	padding:2px;
	font-weight:bold;
	width:16px;
	height:16px;
	cursor:pointer;

}

#layer_list img {
	float:left;
	margin:5px;
	width:100px;
	cursor: pointer;

}

/* SLIDERS */

.slider {
	margin-left:120px;
	width:150px;
	background: #ccc !important;
	margin-top:10px;
}

.ui-slider {
	position: relative;
	text-align: left;
}

#maps .ui-slider-handle {
    background-color:#85A3C2;
}


.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

/* LEAFLET */

.map_full { 
    position:absolute; 
    top:50px; 
    bottom:0; 
    width:calc(100% - 360px);
    margin-left:360px; 
}

form {
	background-color:#ccc;
	padding:5px;
}

.leaflet-popup .mapimg {
	cursor:pointer;
}




